<div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myForm">Register</button>
    
      
      <div class="modal fade" id="myForm" role="dialog">
        <div class="modal-dialog">
        
         
          <div class="button">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
             </div>
            
            <div class="form">
                <form [formGroup]="myForm" >
                   
                  <div class="form-group">
                    <label for="">FirstName</label>
                    <input type="text" class="form-control" formControlName="firstname">
                    <small [hidden]="myForm.controls.firstname.valid" class="text-danger">
                          Name is required (minimum 5 characters).
                         </small>
                    
                  </div>
                  <div class="form-group">
                    <label for="">Lastname</label>
                    <input type="text" class="form-control" formControlName="lastname">
                    <small [hidden]="myForm.controls.lastname.valid" class="text-danger">
                        Lastname is required (minimum 5 characters).
                        </small> -->
                  </div>
                  <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" formControlName="email">
                    <small [hidden]="myForm.controls.email.valid" class="text-danger">
                        email is required (eg:abc@gmail.com).
                        </small> -->
                  </div>
                  <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" class="form-control" formControlName="username">
                    <small [hidden]="myForm.controls.username.valid" class="text-danger">
                                Username required
                              </small>
                  </div>
                  <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                    <small [hidden]="myForm.controls.password.valid" class="text-danger">
                                      Password required
                                    </small>
                  </div>
                  <button type="submit" class="btn btn-success" (click)="save()">submit</button>
                  <a href="/login">Login</a>
                </form>
              </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
        
      </div>
