<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">NetFlix</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <form class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>  
          </ul>       
          <button class="btn btn-danger navbar-btn class"  (click)="btnClick();">Add User</button>
    </div>
  </nav>
  
  <div class="container">
      
        <div style="background-color:aquamarine">
          
          <h1 class="text-center">Series Section</h1>
          <p class="text-center">Search your favourite Series</p>
      </div>
  
      
      </div>
  
      <div class="groove1" *ngIf="flag">
        <form #form1="ngForm" (ngSubmit)="addseries()">
          <div class="form-group">
            <label>Series ID</label>
            <input required type="text" name="series_id" [(ngModel)]="NewSeries.series_id" #seriesid="ngModel" placeholder="enter id of series"
              class="form-control">
          </div>
          <div class="form-group">
            <label>Series Name</label>
            <input required type="text" name="series_name" [(ngModel)]="NewSeries.series_name" #seriesname="ngModel" placeholder="enter name of series"
              class="form-control">
          </div>
          <div class="form-group">
            <label>Series Description</label>
            <input required type="text" name="series_description" [(ngModel)]="NewSeries.series_description" #seriesdescription="ngModel" placeholder="enter story for series"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="image">image</label>
            <input type="file" name="series_image" accept="image/*" (change)="changeListener($event)" />
          </div>
          <button type="submit" class="btn btn-success">submit</button>
        </form>
        
      </div>
  <br><br><br><br>
  <body>
  <div class="row">
        <div *ngFor="let items of series">
        <div class="col-md-3">
          <div class="groove1">
          {{items.series_image}}<br>Series Id:{{items.series_id}}<br> Series Name: {{items.series_name}}<br>
          Series Description: {{items.series_description}}<br>
          <!--{{items.created_at}{{items.updated_at}}-->
        </div></div>
        </div>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><strong><a href="batman">Batman</a></strong></p><br>
        <img src="../assets/batman.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        <button (click)="seriestoggle()" class="btn btn-info">AddSeries</button>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong><a href="superman">Superman</a></strong></p><br>
        <img src="../assets/TV-Shows.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        <button (click)="seriestoggle()" class="btn btn-info">AddShows</button>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong><a href="spiderman">Spiderman</a></strong></p><br>
        <img src="../assets/movies.jpeg" class="img-circle person" alt="Random Name" width="255" height="255">
        <button (click)="seriestoggle()" class="btn btn-info">AddMovies</button>
      </div>
      
    </div>

  </div>
